<h1>Welcome to Rock-Paper-Scissors!

<ul>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
  <li><a href="/">Rules</a></li>
</ul>
