<ul style="list-style-type: none; padding: 0;">
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>

<h2><%= @outcome %></h2>

<ul style="list-style-type: none; padding: 0;">
  <li><a href="/">Rules</a></li>
</ul>
