<h1>Welcome to Rock-Paper-Scissors!</h1>

<ul style="list-style-type: none; padding: 0;">
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>
